<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name ="DBConnect.NorthwindConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
			 AttachDbFilename=C:\Users\filma\OneDrive\Desktop\ITMO.ADOCourse\ITMO.ADOCourse.Lab02.Ex01.Ex02.Ex03\Northwind.Lab02.mdf;
			 Integrated Security=True;User ID=ItmoPractice;Password=***********"/>
	</connectionStrings>
</configuration>
