<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITMO.ADOCourse.Lab04.DataViewExample.Ex06.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=FILIPPS\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ITMO.ADOCourse.Lab04.DataViewExample.Ex06.Properties.Settings.DBLocal_Lab03ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\filma\OneDrive\Desktop\ITMO.ADOCourse\ITMO.ADOCourse.Lab03.Ex03.Ex04\DBLocal.Lab03.mdf;User ID=ItmoPractice;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>