<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITMO.ADOCourse.Lab03.Ex01.Ex02.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;&#xA;			 AttachDbFilename=C:\Users\filma\OneDrive\Desktop\ITMO.ADOCourse\ITMO.ADOCourse.Lab03.Ex01.Ex02\DBLocalNorthWind.mdf;&#xA;			 Integrated Security=True;User ID=ItmoPractice;Password=***********" />
        <add name="ITMO.ADOCourse.Lab03.Ex01.Ex02.Properties.Settings.DBLocalNorthWindConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBLocalNorthWind.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>