<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITMO.ADOCourse.Lab05.DataBindingComplex.Ex03.Properties.Settings.Lab05_DBLocalNorthwindConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Lab05.DBLocalNorthwind.mdf;User ID=ItmoPractice;Password=***********"
            providerName="System.Data.SqlClient" />
        <add name="ITMO.ADOCourse.Lab05.DataBindingComplex.Ex03.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=FILIPPS\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ITMO.ADOCourse.Lab05.DataBindingComplex.Ex03.Properties.Settings.LocalDBNorthwindConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\filma\OneDrive\Desktop\ITMO.ADOCourse\ITMO.ADOCourse.Lab02.Ex01.Ex02.Ex03\Northwind.Lab02.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>